<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT treeMember ANY>
<!ATTLIST treeMember id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT MembersContainer ANY>
<!ATTLIST MembersContainer id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1059" key="c92a89c0-a4a3-4fec-86ef-ada16f15021f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-03T11:45:02" updateDate="2018-11-03T13:20:15" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1058" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="Home" isPublished="true" />
  <MembersContainer id="1061" key="4058da22-1d97-4057-a6a3-aa8d292edffc" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-11-03T11:47:40" updateDate="2018-11-03T11:47:40" nodeName="Members" urlName="members" path="-1,1061" isDoc="" nodeType="1060" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="MembersContainer" isPublished="true">
    <treeMember id="1063" key="ba12970c-a919-4ccf-9d85-d1f73d1cf65c" parentID="1061" level="2" creatorID="0" sortOrder="0" createDate="2018-11-03T12:15:34" updateDate="2018-11-03T12:26:02" nodeName="Mile" urlName="mile" path="-1,1061,1063" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
      <spouse><![CDATA[Nona]]></spouse>
      <birthDate>2017-07-27T00:00:00</birthDate>
      <first_name><![CDATA[Mile]]></first_name>
      <treeMember id="1068" key="c4c167a5-beb3-4d25-a9a1-4e9223804e9b" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2018-11-03T21:46:26" updateDate="2018-11-03T21:46:26" nodeName="Stanija" urlName="stanija" path="-1,1061,1063,1068" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
        <spouse><![CDATA[Kire]]></spouse>
        <first_name><![CDATA[Stanija]]></first_name>
        <treeMember id="1072" key="f748095a-ae6c-4696-b61a-ca79aa28149d" parentID="1068" level="4" creatorID="0" sortOrder="0" createDate="2018-11-03T21:49:45" updateDate="2018-11-03T21:49:45" nodeName="Milja" urlName="milja" path="-1,1061,1063,1068,1072" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Ćire]]></spouse>
          <first_name><![CDATA[Milja]]></first_name>
          <treeMember id="1090" key="61d9dd37-22fd-4654-96be-684b59c3dd63" parentID="1072" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:05:27" updateDate="2018-11-03T22:05:27" nodeName="Malinka" urlName="malinka" path="-1,1061,1063,1068,1072,1090" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Raško]]></spouse>
            <first_name><![CDATA[Malinka]]></first_name>
            <treeMember id="1140" key="1dd7306c-38ce-48b5-bd1a-b8dc5fa2d215" parentID="1090" level="6" creatorID="0" sortOrder="0" createDate="2018-11-11T17:55:20" updateDate="2018-11-11T17:55:20" nodeName="Gordana" urlName="gordana" path="-1,1061,1063,1068,1072,1090,1140" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
              <spouse><![CDATA[Ljuben]]></spouse>
              <first_name><![CDATA[Gordana]]></first_name>
              <treeMember id="1143" key="0a3f1e6d-3ae2-43bd-9b7a-e62033bb4c35" parentID="1140" level="7" creatorID="0" sortOrder="0" createDate="2018-11-11T17:56:34" updateDate="2018-11-11T17:56:34" nodeName="Nikola" urlName="nikola" path="-1,1061,1063,1068,1072,1090,1140,1143" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
                <first_name><![CDATA[Nikola]]></first_name>
              </treeMember>
              <treeMember id="1144" key="d6d2f502-98f2-4793-ad48-2dcc0eae5027" parentID="1140" level="7" creatorID="0" sortOrder="1" createDate="2018-11-11T17:57:00" updateDate="2018-11-11T17:57:00" nodeName="Aleksandar" urlName="aleksandar" path="-1,1061,1063,1068,1072,1090,1140,1144" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
                <first_name><![CDATA[Aleksandar]]></first_name>
              </treeMember>
            </treeMember>
          </treeMember>
          <treeMember id="1091" key="458c5ab3-7731-4e98-940d-3f54ffa77056" parentID="1072" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:06:03" updateDate="2018-11-03T22:06:03" nodeName="Sotir" urlName="sotir" path="-1,1061,1063,1068,1072,1091" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Ljudmila]]></spouse>
            <first_name><![CDATA[Sotir]]></first_name>
            <treeMember id="1141" key="260847ff-a158-4639-a491-490a93a98cb7" parentID="1091" level="6" creatorID="0" sortOrder="0" createDate="2018-11-11T17:55:48" updateDate="2018-11-11T17:55:48" nodeName="Ivica" urlName="ivica" path="-1,1061,1063,1068,1072,1091,1141" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
              <spouse><![CDATA[Danijela]]></spouse>
              <first_name><![CDATA[Ivica]]></first_name>
            </treeMember>
            <treeMember id="1142" key="3af8456c-e55d-436e-8028-c4d53dfd9622" parentID="1091" level="6" creatorID="0" sortOrder="1" createDate="2018-11-11T17:56:09" updateDate="2018-11-11T17:56:09" nodeName="Danijela" urlName="danijela" path="-1,1061,1063,1068,1072,1091,1142" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
              <first_name><![CDATA[Danijela]]></first_name>
            </treeMember>
          </treeMember>
        </treeMember>
        <treeMember id="1073" key="2c4122d8-3447-48cb-a828-242e069f2a35" parentID="1068" level="4" creatorID="0" sortOrder="1" createDate="2018-11-03T21:50:15" updateDate="2018-11-03T21:50:15" nodeName="Stanka" urlName="stanka" path="-1,1061,1063,1068,1073" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Vlade]]></spouse>
          <first_name><![CDATA[Stanka]]></first_name>
          <treeMember id="1092" key="7e493203-753c-4556-86ec-865d8b9ada58" parentID="1073" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:06:41" updateDate="2018-11-03T22:06:41" nodeName="Marjana" urlName="marjana" path="-1,1061,1063,1068,1073,1092" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Jovan]]></spouse>
            <first_name><![CDATA[Marjana]]></first_name>
            <treeMember id="1145" key="e604f760-541b-421f-aaa2-da0a83f2c508" parentID="1092" level="6" creatorID="0" sortOrder="0" createDate="2018-11-11T17:57:55" updateDate="2018-11-11T17:57:55" nodeName="Saša" urlName="saša" path="-1,1061,1063,1068,1073,1092,1145" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
              <first_name><![CDATA[Saša]]></first_name>
            </treeMember>
          </treeMember>
          <treeMember id="1093" key="b73cc753-01f4-4ed2-be93-6d7232896b07" parentID="1073" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:07:08" updateDate="2018-11-03T22:07:08" nodeName="Marika" urlName="marika" path="-1,1061,1063,1068,1073,1093" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <first_name><![CDATA[Marika]]></first_name>
          </treeMember>
          <treeMember id="1094" key="275ce9f0-65f7-4ca3-b297-1c6174fd0bd4" parentID="1073" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:07:50" updateDate="2018-11-03T22:07:50" nodeName="Duško" urlName="duško" path="-1,1061,1063,1068,1073,1094" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Deni]]></spouse>
            <first_name><![CDATA[Duško]]></first_name>
            <treeMember id="1146" key="821af78f-8b62-45c2-a694-bf44f07708f6" parentID="1094" level="6" creatorID="0" sortOrder="0" createDate="2018-11-11T17:58:49" updateDate="2018-11-11T17:58:49" nodeName="Milena" urlName="milena" path="-1,1061,1063,1068,1073,1094,1146" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
              <first_name><![CDATA[Milena]]></first_name>
            </treeMember>
            <treeMember id="1147" key="c9c848fd-8180-4af7-9860-fbd8dfcf1534" parentID="1094" level="6" creatorID="0" sortOrder="1" createDate="2018-11-11T17:59:09" updateDate="2018-11-11T17:59:09" nodeName="Igor" urlName="igor" path="-1,1061,1063,1068,1073,1094,1147" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
              <first_name><![CDATA[Igor]]></first_name>
            </treeMember>
          </treeMember>
        </treeMember>
        <treeMember id="1074" key="4965d11d-4e03-430b-9c28-148fc305cf50" parentID="1068" level="4" creatorID="0" sortOrder="2" createDate="2018-11-03T21:50:43" updateDate="2018-11-03T21:50:43" nodeName="Vlade" urlName="vlade" path="-1,1061,1063,1068,1074" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Mara]]></spouse>
          <first_name><![CDATA[Vlade]]></first_name>
          <treeMember id="1095" key="efba976f-908c-417c-9eaf-0f26a3fca4ba" parentID="1074" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:08:20" updateDate="2018-11-03T22:08:20" nodeName="Draga" urlName="draga" path="-1,1061,1063,1068,1074,1095" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Milan]]></spouse>
            <first_name><![CDATA[Draga]]></first_name>
          </treeMember>
          <treeMember id="1096" key="6bdb24ba-37da-4709-a284-0880b0f74942" parentID="1074" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:08:49" updateDate="2018-11-03T22:08:49" nodeName="Vasil" urlName="vasil" path="-1,1061,1063,1068,1074,1096" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Milka]]></spouse>
            <first_name><![CDATA[Vasil]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1075" key="b5cd9ff5-d9b3-4a31-b903-22e1a9d389fc" parentID="1068" level="4" creatorID="0" sortOrder="3" createDate="2018-11-03T21:51:18" updateDate="2018-11-03T21:51:18" nodeName="Rajna" urlName="rajna" path="-1,1061,1063,1068,1075" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Petraćija]]></spouse>
          <first_name><![CDATA[Rajna]]></first_name>
          <treeMember id="1097" key="7de36263-c4df-4041-91df-84589d65a49b" parentID="1075" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:09:30" updateDate="2018-11-03T22:09:30" nodeName="Djenadi" urlName="djenadi" path="-1,1061,1063,1068,1075,1097" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Raška]]></spouse>
            <first_name><![CDATA[Djenadi]]></first_name>
          </treeMember>
          <treeMember id="1098" key="48306c18-fd34-4b8d-8d6f-86dc76ba6c58" parentID="1075" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:10:04" updateDate="2018-11-03T22:10:04" nodeName="Vlade" urlName="vlade" path="-1,1061,1063,1068,1075,1098" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Ljiljana]]></spouse>
            <first_name><![CDATA[Vlade]]></first_name>
          </treeMember>
          <treeMember id="1099" key="072029af-8add-418d-9186-4c36821956bb" parentID="1075" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:10:32" updateDate="2018-11-03T22:10:32" nodeName="Gone" urlName="gone" path="-1,1061,1063,1068,1075,1099" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Danica]]></spouse>
            <first_name><![CDATA[Gone]]></first_name>
          </treeMember>
          <treeMember id="1100" key="25dddbb2-07ab-4e28-9f67-911feeeb6705" parentID="1075" level="5" creatorID="0" sortOrder="3" createDate="2018-11-03T22:11:08" updateDate="2018-11-03T22:11:08" nodeName="Sande" urlName="sande" path="-1,1061,1063,1068,1075,1100" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Tonka]]></spouse>
            <first_name><![CDATA[Sande]]></first_name>
          </treeMember>
        </treeMember>
      </treeMember>
      <treeMember id="1069" key="7db5e2ea-bdd3-481e-8b59-6f935b7ae706" parentID="1063" level="3" creatorID="0" sortOrder="1" createDate="2018-11-03T21:47:19" updateDate="2018-11-03T21:47:47" nodeName="Randjel" urlName="randjel" path="-1,1061,1063,1069" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
        <spouse><![CDATA[Loza]]></spouse>
        <first_name><![CDATA[Randjel]]></first_name>
        <treeMember id="1076" key="f817335b-5292-4152-ab9d-7a03c679015b" parentID="1069" level="4" creatorID="0" sortOrder="0" createDate="2018-11-03T21:51:57" updateDate="2018-11-03T21:51:57" nodeName="Slavčo" urlName="slavčo" path="-1,1061,1063,1069,1076" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Korna]]></spouse>
          <first_name><![CDATA[Slavčo]]></first_name>
          <treeMember id="1101" key="36fdca4f-85cc-4729-9958-3c3d8560c697" parentID="1076" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:12:05" updateDate="2018-11-03T22:12:05" nodeName="Ljiljanka" urlName="ljiljanka" path="-1,1061,1063,1069,1076,1101" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Ivan]]></spouse>
            <first_name><![CDATA[Ljiljanka]]></first_name>
          </treeMember>
          <treeMember id="1102" key="b6e03b6e-dde9-4099-85c1-33d58dfae7c7" parentID="1076" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:12:29" updateDate="2018-11-03T22:12:29" nodeName="Milka" urlName="milka" path="-1,1061,1063,1069,1076,1102" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Kole]]></spouse>
            <first_name><![CDATA[Milka]]></first_name>
          </treeMember>
          <treeMember id="1103" key="bc23f608-0095-49b8-9107-c8691afbd7fd" parentID="1076" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:13:02" updateDate="2018-11-03T22:13:02" nodeName="Olga" urlName="olga" path="-1,1061,1063,1069,1076,1103" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Slavčo]]></spouse>
            <first_name><![CDATA[Olga]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1077" key="d725b2a3-d429-44a8-aa83-9592b1b46b2b" parentID="1069" level="4" creatorID="0" sortOrder="1" createDate="2018-11-03T21:52:27" updateDate="2018-11-03T21:52:27" nodeName="Krume" urlName="krume" path="-1,1061,1063,1069,1077" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Mitra]]></spouse>
          <first_name><![CDATA[Krume]]></first_name>
          <treeMember id="1104" key="8fe6e153-4f92-43db-84b5-28d2b81c0955" parentID="1077" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:13:47" updateDate="2018-11-03T22:13:47" nodeName="Rajčo" urlName="rajčo" path="-1,1061,1063,1069,1077,1104" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Milka]]></spouse>
            <first_name><![CDATA[Rajčo]]></first_name>
          </treeMember>
          <treeMember id="1105" key="72d38f65-53b5-4611-82cc-b7bd26c87e51" parentID="1077" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:14:23" updateDate="2018-11-03T22:14:23" nodeName="Stanka" urlName="stanka" path="-1,1061,1063,1069,1077,1105" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Slavčo]]></spouse>
            <first_name><![CDATA[Stanka]]></first_name>
          </treeMember>
          <treeMember id="1106" key="7825eb3a-d403-45ee-96ff-9fd95119c462" parentID="1077" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:15:00" updateDate="2018-11-03T22:15:00" nodeName="Ratka" urlName="ratka" path="-1,1061,1063,1069,1077,1106" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Ljuben]]></spouse>
            <first_name><![CDATA[Ratka]]></first_name>
          </treeMember>
        </treeMember>
      </treeMember>
      <treeMember id="1070" key="b87caa24-3b75-4a02-86ed-4237fd2ca8cf" parentID="1063" level="3" creatorID="0" sortOrder="2" createDate="2018-11-03T21:48:23" updateDate="2018-11-03T21:48:23" nodeName="Ristaćia" urlName="ristaćia" path="-1,1061,1063,1070" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
        <spouse><![CDATA[Marija]]></spouse>
        <first_name><![CDATA[Ristaćia]]></first_name>
        <treeMember id="1078" key="4c1282fa-cb77-4467-b565-bd6b488c71f7" parentID="1070" level="4" creatorID="0" sortOrder="0" createDate="2018-11-03T21:58:50" updateDate="2018-11-03T21:58:50" nodeName="Dragan" urlName="dragan" path="-1,1061,1063,1070,1078" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Mara]]></spouse>
          <spouseSecond><![CDATA[Rajna]]></spouseSecond>
          <first_name><![CDATA[Dragan]]></first_name>
          <treeMember id="1107" key="d57f80a4-245b-4854-96a8-59bd91e75f8a" parentID="1078" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:15:37" updateDate="2018-11-03T22:15:37" nodeName="Olga" urlName="olga" path="-1,1061,1063,1070,1078,1107" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Gošo]]></spouse>
            <first_name><![CDATA[Olga]]></first_name>
          </treeMember>
          <treeMember id="1108" key="ee36c2df-fc86-4b57-9997-153a9d27f210" parentID="1078" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:16:05" updateDate="2018-11-03T22:16:05" nodeName="Ivan" urlName="ivan" path="-1,1061,1063,1070,1078,1108" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Roza]]></spouse>
            <first_name><![CDATA[Ivan]]></first_name>
          </treeMember>
          <treeMember id="1109" key="53aed645-2798-40b5-9e87-a77484a23a76" parentID="1078" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:16:35" updateDate="2018-11-03T22:16:35" nodeName="Bojanka" urlName="bojanka" path="-1,1061,1063,1070,1078,1109" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Dragan]]></spouse>
            <first_name><![CDATA[Bojanka]]></first_name>
          </treeMember>
          <treeMember id="1110" key="7851c994-0f28-472d-8e0a-ea5b857556fa" parentID="1078" level="5" creatorID="0" sortOrder="3" createDate="2018-11-03T22:17:11" updateDate="2018-11-03T22:17:11" nodeName="Verka" urlName="verka" path="-1,1061,1063,1070,1078,1110" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Bore]]></spouse>
            <first_name><![CDATA[Verka]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1079" key="3e607071-6ecc-4690-a3a2-c6e4901cc75f" parentID="1070" level="4" creatorID="0" sortOrder="1" createDate="2018-11-03T21:59:21" updateDate="2018-11-03T21:59:21" nodeName="Vlade" urlName="vlade" path="-1,1061,1063,1070,1079" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Caka]]></spouse>
          <first_name><![CDATA[Vlade]]></first_name>
          <treeMember id="1111" key="127f4d9f-7b5c-43cb-94cb-cf9aa65a8fbb" parentID="1079" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:17:40" updateDate="2018-11-03T22:17:40" nodeName="Vlasta" urlName="vlasta" path="-1,1061,1063,1070,1079,1111" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Mira]]></spouse>
            <first_name><![CDATA[Vlasta]]></first_name>
          </treeMember>
          <treeMember id="1112" key="1f3229b1-9e2b-4e85-8c3e-093fb7ffeb67" parentID="1079" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:18:15" updateDate="2018-11-03T22:18:15" nodeName="Sveta" urlName="sveta" path="-1,1061,1063,1070,1079,1112" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Nada]]></spouse>
            <first_name><![CDATA[Sveta]]></first_name>
          </treeMember>
          <treeMember id="1113" key="714d6a1d-ee79-4587-b143-04c3a7e7eec8" parentID="1079" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:18:45" updateDate="2018-11-03T22:18:45" nodeName="Duška" urlName="duška" path="-1,1061,1063,1070,1079,1113" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Mile]]></spouse>
            <first_name><![CDATA[Duška]]></first_name>
          </treeMember>
          <treeMember id="1114" key="8aa6ef2b-a4a9-4bde-90ef-29f1ec61063f" parentID="1079" level="5" creatorID="0" sortOrder="3" createDate="2018-11-03T22:19:27" updateDate="2018-11-03T22:19:27" nodeName="Vitka" urlName="vitka" path="-1,1061,1063,1070,1079,1114" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Dragča]]></spouse>
            <first_name><![CDATA[Vitka]]></first_name>
          </treeMember>
          <treeMember id="1115" key="c4673473-9c0a-4497-aa42-16fbb97000bd" parentID="1079" level="5" creatorID="0" sortOrder="4" createDate="2018-11-03T22:20:00" updateDate="2018-11-03T22:20:00" nodeName="Mile" urlName="mile" path="-1,1061,1063,1070,1079,1115" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Pasa]]></spouse>
            <first_name><![CDATA[Mile]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1080" key="4f417d30-839c-4cd5-9f70-0cc6031f2b12" parentID="1070" level="4" creatorID="0" sortOrder="2" createDate="2018-11-03T21:59:51" updateDate="2018-11-03T21:59:51" nodeName="Todor" urlName="todor" path="-1,1061,1063,1070,1080" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Rada]]></spouse>
          <first_name><![CDATA[Todor]]></first_name>
          <treeMember id="1116" key="2c053b76-ed09-4d10-8b64-ea4f83b0b97f" parentID="1080" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:20:41" updateDate="2018-11-03T22:20:41" nodeName="Djula" urlName="djula" path="-1,1061,1063,1070,1080,1116" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Gošo]]></spouse>
            <first_name><![CDATA[Djula]]></first_name>
          </treeMember>
          <treeMember id="1117" key="e8331782-25fa-4d73-a7ea-73dfa7115fd3" parentID="1080" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:21:13" updateDate="2018-11-03T22:21:13" nodeName="Mitko" urlName="mitko" path="-1,1061,1063,1070,1080,1117" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Cvetanka]]></spouse>
            <first_name><![CDATA[Mitko]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1081" key="ee05cc4f-03c6-4abd-b5e3-196dedc3b09a" parentID="1070" level="4" creatorID="0" sortOrder="3" createDate="2018-11-03T22:00:20" updateDate="2018-11-03T22:00:20" nodeName="Dimitar" urlName="dimitar" path="-1,1061,1063,1070,1081" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Todorka]]></spouse>
          <first_name><![CDATA[Dimitar]]></first_name>
          <treeMember id="1118" key="6cc5e5da-900a-4099-b46e-16ecf2676ebf" parentID="1081" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:21:54" updateDate="2018-11-03T22:21:54" nodeName="Aleksandar" urlName="aleksandar" path="-1,1061,1063,1070,1081,1118" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Cvetanka]]></spouse>
            <first_name><![CDATA[Aleksandar]]></first_name>
          </treeMember>
          <treeMember id="1119" key="14429204-8650-4d06-b58a-75cff51dc4d2" parentID="1081" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:22:26" updateDate="2018-11-03T22:22:26" nodeName="Ljuba" urlName="ljuba" path="-1,1061,1063,1070,1081,1119" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Krume]]></spouse>
            <first_name><![CDATA[Ljuba]]></first_name>
          </treeMember>
          <treeMember id="1120" key="69d9a2f1-cdd3-4fe3-83ef-0769e5f6796d" parentID="1081" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:22:57" updateDate="2018-11-03T22:22:57" nodeName="Milka" urlName="milka" path="-1,1061,1063,1070,1081,1120" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Vladimir]]></spouse>
            <first_name><![CDATA[Milka]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1082" key="116eb8a3-fa38-4c3f-97f6-29c9e18a0846" parentID="1070" level="4" creatorID="0" sortOrder="4" createDate="2018-11-03T22:00:49" updateDate="2018-11-03T22:00:49" nodeName="Tase" urlName="tase" path="-1,1061,1063,1070,1082" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Jovka]]></spouse>
          <first_name><![CDATA[Tase]]></first_name>
          <treeMember id="1121" key="cc0d972c-9de7-4dc8-ae2d-2f6741878eae" parentID="1082" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:23:56" updateDate="2018-11-03T22:23:56" nodeName="Zinovi" urlName="zinovi" path="-1,1061,1063,1070,1082,1121" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Djeca]]></spouse>
            <spouseSecond><![CDATA[Keti]]></spouseSecond>
            <first_name><![CDATA[Zinovi]]></first_name>
          </treeMember>
          <treeMember id="1122" key="2f5ce2ed-5d40-44a1-a696-19c42b42e7a4" parentID="1082" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:24:30" updateDate="2018-11-03T22:24:30" nodeName="Hristo" urlName="hristo" path="-1,1061,1063,1070,1082,1122" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Erina]]></spouse>
            <first_name><![CDATA[Hristo]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1083" key="8a4f4d08-7540-40dd-beb5-be0241aad77c" parentID="1070" level="4" creatorID="0" sortOrder="5" createDate="2018-11-03T22:01:20" updateDate="2018-11-03T22:01:20" nodeName="Petar" urlName="petar" path="-1,1061,1063,1070,1083" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Roza]]></spouse>
          <first_name><![CDATA[Petar]]></first_name>
          <treeMember id="1123" key="24cb137f-f4ea-4a6b-8f1f-67096cddf90b" parentID="1083" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:24:59" updateDate="2018-11-03T22:24:59" nodeName="Bell" urlName="bell" path="-1,1061,1063,1070,1083,1123" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <first_name><![CDATA[Bell]]></first_name>
          </treeMember>
          <treeMember id="1124" key="9aa92873-ce1a-47bf-ad4d-f7b6c18cf6d0" parentID="1083" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:25:33" updateDate="2018-11-03T22:25:33" nodeName="Robert" urlName="robert" path="-1,1061,1063,1070,1083,1124" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Ljusil]]></spouse>
            <first_name><![CDATA[Robert]]></first_name>
          </treeMember>
        </treeMember>
      </treeMember>
      <treeMember id="1071" key="ec6444cc-7fc3-4386-b4df-b1f6869f9af9" parentID="1063" level="3" creatorID="0" sortOrder="3" createDate="2018-11-03T21:48:59" updateDate="2018-11-03T21:48:59" nodeName="Božil" urlName="božil" path="-1,1061,1063,1071" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
        <spouse><![CDATA[Kata]]></spouse>
        <first_name><![CDATA[Božil]]></first_name>
        <treeMember id="1084" key="48012171-874b-4334-af44-800e48a7c63a" parentID="1071" level="4" creatorID="0" sortOrder="0" createDate="2018-11-03T22:01:55" updateDate="2018-11-03T22:01:55" nodeName="Nikola" urlName="nikola" path="-1,1061,1063,1071,1084" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Guga]]></spouse>
          <first_name><![CDATA[Nikola]]></first_name>
          <treeMember id="1125" key="63d7aba6-eaf7-4503-a83f-580395f91e50" parentID="1084" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:26:30" updateDate="2018-11-03T22:26:30" nodeName="Bojan" urlName="bojan" path="-1,1061,1063,1071,1084,1125" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Verka]]></spouse>
            <first_name><![CDATA[Bojan]]></first_name>
          </treeMember>
          <treeMember id="1126" key="6a328a63-0865-4027-abff-a3c0ebbc8277" parentID="1084" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:27:19" updateDate="2018-11-03T22:27:19" nodeName="Venka" urlName="venka" path="-1,1061,1063,1071,1084,1126" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Ćire]]></spouse>
            <first_name><![CDATA[Venka]]></first_name>
          </treeMember>
          <treeMember id="1127" key="f796a7b7-e295-4638-a5e1-937d719e0109" parentID="1084" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:27:51" updateDate="2018-11-03T22:27:51" nodeName="Stanka" urlName="stanka" path="-1,1061,1063,1071,1084,1127" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <first_name><![CDATA[Stanka]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1085" key="1f300f22-7c9d-4992-8139-44a333e2094b" parentID="1071" level="4" creatorID="0" sortOrder="1" createDate="2018-11-03T22:02:28" updateDate="2018-11-03T22:02:28" nodeName="Stanka" urlName="stanka" path="-1,1061,1063,1071,1085" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Sande]]></spouse>
          <first_name><![CDATA[Stanka]]></first_name>
          <treeMember id="1128" key="0eb674db-4140-4bf4-84ec-2888238fbb6c" parentID="1085" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:28:27" updateDate="2018-11-03T22:28:27" nodeName="Nevenka" urlName="nevenka" path="-1,1061,1063,1071,1085,1128" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[2 deca]]></spouse>
            <first_name><![CDATA[Nevenka]]></first_name>
          </treeMember>
          <treeMember id="1129" key="284d4f91-4011-42ac-87f4-b8ba16a9c23d" parentID="1085" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:29:01" updateDate="2018-11-03T22:29:01" nodeName="Koste" urlName="koste" path="-1,1061,1063,1071,1085,1129" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[2 deca]]></spouse>
            <first_name><![CDATA[Koste]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1086" key="3dfe96eb-c429-4807-8085-9fd6438bc5c4" parentID="1071" level="4" creatorID="0" sortOrder="2" createDate="2018-11-03T22:03:02" updateDate="2018-11-03T22:03:02" nodeName="Manasija" urlName="manasija" path="-1,1061,1063,1071,1086" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Loza]]></spouse>
          <first_name><![CDATA[Manasija]]></first_name>
          <treeMember id="1130" key="ffe1e3b9-b0b6-4200-8f45-bd3d32b93ddd" parentID="1086" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:29:37" updateDate="2018-11-03T22:29:37" nodeName="Ivanka" urlName="ivanka" path="-1,1061,1063,1071,1086,1130" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Nikola]]></spouse>
            <first_name><![CDATA[Ivanka]]></first_name>
          </treeMember>
          <treeMember id="1131" key="34a6d6d8-d035-4574-8fd4-b5b4518435bd" parentID="1086" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:30:14" updateDate="2018-11-03T22:30:14" nodeName="Bore" urlName="bore" path="-1,1061,1063,1071,1086,1131" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[1 sin]]></spouse>
            <first_name><![CDATA[Bore]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1087" key="5be66df6-1597-4c20-b87c-18cc542dcac4" parentID="1071" level="4" creatorID="0" sortOrder="3" createDate="2018-11-03T22:03:34" updateDate="2018-11-03T22:03:34" nodeName="Jovančo" urlName="jovančo" path="-1,1061,1063,1071,1087" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Nevenka]]></spouse>
          <first_name><![CDATA[Jovančo]]></first_name>
          <treeMember id="1132" key="f2d6bc70-2d19-45e2-890c-cd4aa3946ff5" parentID="1087" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:31:26" updateDate="2018-11-03T22:31:26" nodeName="Jovče" urlName="jovče" path="-1,1061,1063,1071,1087,1132" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Violeta]]></spouse>
            <first_name><![CDATA[Jovče]]></first_name>
          </treeMember>
          <treeMember id="1133" key="528c66f9-48a3-4148-99e2-c0a56eafb2c1" parentID="1087" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:31:57" updateDate="2018-11-03T22:31:57" nodeName="Petračko" urlName="petračko" path="-1,1061,1063,1071,1087,1133" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Darinka]]></spouse>
            <first_name><![CDATA[Petračko]]></first_name>
          </treeMember>
          <treeMember id="1134" key="53942811-0b0a-490f-b9e0-f9343f659f02" parentID="1087" level="5" creatorID="0" sortOrder="2" createDate="2018-11-03T22:32:33" updateDate="2018-11-03T22:32:33" nodeName="Mile" urlName="mile" path="-1,1061,1063,1071,1087,1134" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Violeta]]></spouse>
            <spouseSecond><![CDATA[Anka]]></spouseSecond>
            <first_name><![CDATA[Mile]]></first_name>
          </treeMember>
          <treeMember id="1135" key="0030ae11-6cb7-4ee5-8478-2917782c0a97" parentID="1087" level="5" creatorID="0" sortOrder="3" createDate="2018-11-03T22:33:05" updateDate="2018-11-03T22:33:05" nodeName="Kata" urlName="kata" path="-1,1061,1063,1071,1087,1135" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Vlade]]></spouse>
            <first_name><![CDATA[Kata]]></first_name>
          </treeMember>
          <treeMember id="1136" key="d2f593cc-0f95-4b85-8736-81c44f638f19" parentID="1087" level="5" creatorID="0" sortOrder="4" createDate="2018-11-03T22:33:38" updateDate="2018-11-03T22:33:38" nodeName="Ljuben" urlName="ljuben" path="-1,1061,1063,1071,1087,1136" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Frona]]></spouse>
            <first_name><![CDATA[Ljuben]]></first_name>
          </treeMember>
          <treeMember id="1137" key="f427b0a9-fcdf-46e4-8516-55e5960f78af" parentID="1087" level="5" creatorID="0" sortOrder="5" createDate="2018-11-03T22:34:11" updateDate="2018-11-03T22:34:11" nodeName="Kire" urlName="kire" path="-1,1061,1063,1071,1087,1137" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Marica]]></spouse>
            <first_name><![CDATA[Kire]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1088" key="0c22c9d3-1214-41c3-9ac8-6afc20bdb7bb" parentID="1071" level="4" creatorID="0" sortOrder="4" createDate="2018-11-03T22:04:13" updateDate="2018-11-03T22:04:13" nodeName="Spasena" urlName="spasena" path="-1,1061,1063,1071,1088" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[Ristaćija]]></spouse>
          <first_name><![CDATA[Spasena]]></first_name>
          <treeMember id="1138" key="ea8b8233-a9b3-4f28-b5e6-05b6e71cdbf3" parentID="1088" level="5" creatorID="0" sortOrder="0" createDate="2018-11-03T22:34:56" updateDate="2018-11-03T22:34:56" nodeName="Guga" urlName="guga" path="-1,1061,1063,1071,1088,1138" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Toše]]></spouse>
            <first_name><![CDATA[Guga]]></first_name>
          </treeMember>
          <treeMember id="1139" key="afc9d3fa-bd14-43c2-9cfd-022dd97a314f" parentID="1088" level="5" creatorID="0" sortOrder="1" createDate="2018-11-03T22:35:36" updateDate="2018-11-03T22:35:36" nodeName="Bore" urlName="bore" path="-1,1061,1063,1071,1088,1139" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
            <spouse><![CDATA[Darinka]]></spouse>
            <first_name><![CDATA[Bore]]></first_name>
          </treeMember>
        </treeMember>
        <treeMember id="1089" key="a4176a43-07ee-468c-a230-2d02abc21019" parentID="1071" level="4" creatorID="0" sortOrder="5" createDate="2018-11-03T22:04:42" updateDate="2018-11-03T22:04:42" nodeName="Toše" urlName="toše" path="-1,1061,1063,1071,1089" isDoc="" nodeType="1055" creatorName="Bube" writerName="Bube" writerID="0" template="0" nodeTypeAlias="treeMember" isPublished="true">
          <spouse><![CDATA[3 sina]]></spouse>
          <first_name><![CDATA[Toše]]></first_name>
        </treeMember>
      </treeMember>
    </treeMember>
  </MembersContainer>
</root>