@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "../Master.cshtml";
}

@* the fun starts here *@

@*<div id="TreeContainer">

</div>*@
<div id="ZoomControll">
    <span class="glyphicon glyphicon-plus"></span><br />
    <span class="glyphicon glyphicon-minus"></span>
</div>


<div id="tree" style="height:1300px;width:1500px"></div>


